.dateSetForm {
    .dropdown-menu {
        span {
            padding: .25rem 1.5rem;
            cursor: pointer;
            float: right;
        }
    }
    #alermText {
        font-size: 0.75rem;
    }
    span {
        padding: .25rem .25rem;
    }
}